{% load static %}
<div class="wrapper">
            <div class="new-jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="{% static 'main/img/posvat.png' %}" alt="" width=1330px height = 380px></li>
                        <li><img src="{% static 'main/img/ng.png' %}" alt="" width=1330px height = 380px></li>
                        <li><img src="{% static 'main/img/vipusk.png' %}" alt="" width=1330px height = 380px></li>
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>
        </div>