{% load static %}
<div class="wrapper">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><p class="lenta1">МБОУ лицей при ТПУ г. Томска объявляет набор учащихся в 10 профильные<br />классы на 2021-2022 учебный год. Набор осуществляется в IT-класс, Естественнонаучный класс, Энергокласс, Аэрокосмический класс и Газпром-класс.<br />Не упусти шанса!</p><img src="{% static 'main/img/postup.jpeg' %}" alt="" width=1350px height = 280px></li>
                        <li><p class="lenta2">Проведение вступительных испытаний планируется 24 - 25 июня 2021 года. Вступительные испытания будут проводиться с соблюдением всех противоэпидемических требований (измерение температуры<br />тела каждого ребёнка, обработка рук антисептиком, рассадка в аудиториях в шахматном порядке, обеззараживание рециркуляторами воздуха в аудиториях, проветривание, использование персоналом лицея индивидуальных средств защиты дыхания (масок).</p><img src="{% static 'main/img/vst2.jpg' %}" alt="" width=1330px height = 280px></li>
                        <li><p class="lenta3">Заразиться COVID-19 можно от других людей, если они инфицированы вирусом. Заболевание может переда-<br />ваться от человека к человеку через мелкие капли, выделяемые из носа или рта больного COVID-19 при кашле<br />или чихании. Эти капли попадают на окружающие человека предметы и поверхности. Другие люди могут заразиться в результате прикосновения сначала к таким предметам или поверхностям, а затем – к глазам, носу<br />или рту. Будьте аккуратнее и соблюдайте все меры безопасности при опдаче заявлений и непосредственно во время вступительных экзаменов.</p><img src="{% static 'main/img/covid.jpg' %}" alt="" width=1330px height = 280px></li>
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>
        </div>