{% extends 'main/CompositionOfTeachers.html' %}

{% load static %}

{% block imgleft %}"{% static 'main/img/BUB.jpg' %}"{% endblock %}

{% block textleft %}<strong>Буркатовская Юлия Борисовна</strong><br />Учитель информатики <br />Доцент кафедры выч. техники ИК НИ ТПУ<br />Грамота ТОИПКРО{% endblock %}

{% block imgright %}"{% static 'main/img/KGA.jpg' %}"{% endblock %}

{% block textright %}<strong>Кузьменко Галина Анатольевна</strong><br />Учитель химии высшей квалификации<br />Лауреат премии Кузбасса в сфере образования<br />победитель конкурса Фонда «Династия»{% endblock %}