{% extends 'main/CompositionOfTeachers.html' %}

{% load static %}

{% block imgleft %}"{% static 'main/img/KLH.jpg' %}"{% endblock %}

{% block textleft %}<strong>Казанцева Лариса Хазиевна</strong><br /> Учитель физики высшей квалификации <br />Почетный работник общего образования<br />Заслуженный учитель РФ{% endblock %}

{% block imgright %}"{% static 'main/img/AEL.jpg' %}"{% endblock %}

{% block textright %}<strong>Архипова Елена Леонидовна</strong><br />Учитель химии высшей квалификации<br />Почетный работник общего образования<br />Нагрудный знак «Герб Томской области»{% endblock %}