{% extends 'main/CompositionOfTeachers.html' %}

{% load static %}

{% block imgleft %}"{% static 'main/img/BNP.jpg' %}"{% endblock %}

{% block textleft %}<strong>Беленкова Наталья Павловна</strong><br />Учитель математики высшей квалификации<br />Медаль «За участие в развитии ТПУ»<br />Почетный работник общего образования{% endblock %}

{% block imgright %}"{% static 'main/img/ANA.jpg' %}"{% endblock %}

{% block textright %}<strong>Алексеева Наталья Анатольевна </strong><br />Учитель биологии высшей квалификации<br />Почетный работник общего образования<br />победитель ПНПО{% endblock %}