{% extends 'main/CompositionOfTeachers.html' %}

{% load static %}

{% block imgleft %}"{% static 'main/img/BOV.jpg' %}"{% endblock %}

{% block textleft %}<strong>Букина Ольга Владимировна</strong><br />Учитель математики высшей квалификации<br /> Лауреат премии администрации г.Томска<br />Грамоты департамента общего образования{% endblock %}

{% block imgright %}"{% static 'main/img/CHAA.jpg' %}"{% endblock %}

{% block textright %}<strong>Чермянина Анжелика Анатольевна</strong> <br />Учитель русского языка и литературы  <br />Лауреат премии администрации Томской обл. <br />Высшая квалификация{% endblock %}
